<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="/main.css" rel="stylesheet">
</head>

<body>

    <div th:replace="~{nav.html::navbar}"></div>

    <div class="card" th:each="i: ${items}">
        <img src="https://placehold.co/300">
        <div>
            <h4 th:text="${i.title}">상품이름</h4>
            <a th:href="@{'/detail/' + ${i.id} }">상세 페이지</a>
            <a th:href="@{'/edit/' + ${i.id} }">수정 페이지</a>
            <p th:text="${i.price}">상품 가격</p>
            <span class="delete-btn" th:attr="data-id=${i.id}">삭제</span>
        </div>
    </div>

    <script th:inline="javascript">
        document.querySelectorAll('.delete-btn').forEach(function(span) {
            span.addEventListener('click', function() {
                var id = span.getAttribute('data-id');

                fetch('/delete?id=' + id, {
                    method: 'DELETE',
                    headers: {
                        "Content-Type": "application/json",
                    }
                })
                    .then(response => response.text())
                    .then(data => console.log(data))
            });
        });
    </script>

</body>
</html>